<!DOCTYPE html>
<html>
<head>
    <title>NZ 博客后台管理</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/artDialog/skins/green.css" rel="stylesheet" />
    @RenderSection("Header", false)
</head>
<body>
    @RenderBody()
</body>
</html>
<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/artDialog/artDialog.js"></script>
<script src="~/Scripts/artDialog/iframeTools.js"></script>
<script src="~/Scripts/myGrid.js"></script>
@RenderSection("Script", false)