<!DOCTYPE html>
<html>
<head>
    <title>NZ 博客后台管理</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/artDialog/skins/green.css" rel="stylesheet" />
    <script src="~/Scripts/xhEditor/jquery-1.4.4.min.js" type="text/javascript"></script>
    <script src="~/Scripts/xhEditor/xheditor-1.1.14-zh-cn.min.js"></script>
    @RenderSection("Header", false)
</head>
<body>
    @RenderBody()
</body>
</html>
<script src="~/Scripts/artDialog/artDialog.js"></script>
<script src="~/Scripts/EzGrid.js"></script>
<script src="~/Scripts/EzGrid.Extension.js"></script>
<script src="~/Scripts/dialogExtend.js"></script>
@RenderSection("Script", false)