@{
    var BlogRightViewModel = new NZBlog.Website.BasicProvider.BlogManage().GetBlogRightViewModel();
}

<h4 class="widget-title top-widget"><span class="glyphicon glyphicon-hand-right"></span> 博文系列</h4>
<ul>
    @foreach (var item in BlogRightViewModel.BlogRecList)
    {
        <li><span class="glyphicon glyphicon-chevron-right"></span> <a href="/blogList/@item.TypeId">@item.TypeName</a></li>
    }
</ul>
@*以下是QQ邮件列表订阅嵌入代码*@
<form id="formSubscribe" action="http://list.qq.com/cgi-bin/qf_compose_send" target="_blank" method="post" style="margin:0">
    <div class="input-group article-next">
        <input type="hidden" name="t" value="qf_booked_feedback">
        <input type="hidden" name="id" value="0538efc5649714c41449058e2bd03f2c7db79bb73ca59f3a">
        <input id="to" name="to" type="text" class="form-control" placeholder="输入邮箱 订阅本站">
        <span id="btnSubscribe" class="input-group-addon hand">订阅</span>
    </div>
</form>
@*订阅邮箱结束*@
<h4 class="widget-title"><span class="glyphicon glyphicon-cloud"></span> 推荐文章</h4>
<ul>
    @foreach (var item in BlogRightViewModel.BlogNewList)
    {
        <li><span class="glyphicon glyphicon-fire"></span> <a target="_blank" href="/blog/@item.BlogId">@item.Title.CutStr(28)</a></li>
        <li class="article-right"><span class="">@item.CreatTimes.ToString("yyyy年MM月dd日") </span> --<span>@{@item.ReadTimes}浏览量</span></li>
    }
</ul>
<h4 class="widget-title"><span class="glyphicon glyphicon-user"></span> 最近访客</h4>
<ul class="ds-recent-visitors" data-num-items="10"></ul>