@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_DataEditLayout.cshtml";
}

@section Header
{

}
<form class="form-horizontal" role="form" action="/account/ChangePassword">
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">密码</label>
        <div class="col-sm-10">
            <input type="password" notnull title="密码" id="txtpassword" name="password" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">确认密码</label>
        <div class="col-sm-10">
            <input type="password" notnull title="确认密码" valid="password" name="passwordConfim" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <a id="btnSubmit" class="btn btn-success">提交</a>
        </div>
    </div>
</form>
@section Script
{
    <script type="text/javascript">
        validfunc.password = function (data) { if (data != $('#txtpassword').trim()) return "确认密码不一致！";};
        $(document).ready(function () {
            $('#btnSubmit').mpost(function (data) {
                if (data.Status == 1) { okshow(data.Msg); } else { exshow(data.Msg); }
            });
        });
    </script>
}


